@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
    --header-height:3rem;
    
    --first-color:#3E0E12;
    --first-color-dark:#2F0A0D;
    --text-color:#524748;
    --first-color-light:#7B6F71;
    --first-color-lighten:#FBF9F9;
    
    
    --body-font:'Poppins',sans-serif;
    --biggest-font-size:2.5rem;
    --h1-font-size:1.5rem;
    --h2-font-size:1.25rem;
    --h3-font-size:1.125rem;
    --normal-font-size:.938rem;
    --small-font-size:.813rem;
    --smaller-font-size:.75rem;
    
    
}